$breakpoint-mobile: 600px;

$color-yellow: #ffff00;
$color-orange: #ff7300;
$color-white: #ffffff;
$color-blue: #0054CF;
$color-grey: #F5F5F5;
$color-dark-grey: #aaaaaa;
$color-black: #000000;

$logo-size: 124px;
$logo-size-small: 60px;
$container-padding: 20px;

$sl21_green: rgb(3,140,76)